.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

.ant-form-item-label > label {
  font-weight: normal !important;
}

.ant-checkbox-label {
  font-weight: normal !important;
}

.ant-typography {
  color: var(--text-light) !important;
}

/* antd pagination */
.ant-pagination {
  color:var(--text-light);
}

.ant-pagination-item-active {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--text-light);
}

/* Fix pagination arrow color for dark background */
.ant-pagination-prev,
.ant-pagination-next {
  color: var(--text-light) !important; /* or your preferred light color */
}

/* Ellipsis */
.ant-pagination-item-ellipsis {
  color:  var(--text-light) !important;
}

.ant-pagination-prev button,
.ant-pagination-next button {
  color: var(--text-light) !important;
}

/* Optional: Hover style */
.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  color: var(--primary) !important;
}

/* custom tab css */

.custom-tabs .ant-tabs-tab {
  background: transparent;
  color: var(--text-light);
  padding: 10px 20px;
  border-radius: 4px 4px 0 0;
}

.custom-tabs .ant-tabs-tab-active {
  background-color: var(--accent);
  color: var(--text-dark);
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: var(--accent);
}

/* .ant-picker {
  background-color: var(--bg-darkD) !important;
  color: var(--text-light) !important;
} */

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--text-light) !important;
}

.small-button1 {
  background-color: #333;
  color: var(--text-light);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  /* font-weight: bold; */
  transition: background 0.3s;
}

.small-button1.active,
.small-button1:hover {
  background-color: var(--accent);
  color: var(--text-dark);
}
